body{
    color: white;
      background-color:black;
      margin-left:2%;
      font-family:arial;
    }
    h1{
      background-color:gray;
      padding:30px
    }
    p{
      font-size:25px;
    }
    .row{
      display:flex;
      flex-wrap:wrap;
      padding:0 4px;
    }
    .col{
      flex:23%;
      max-width:23%;
      padding:0 4px;
    }
    .oval img{
      height:200px;
      width:200px;
      border-radius:50%;
    }
    .circle img{
        height:200px;
      width:150px;
      border-radius:50%;
    }
    .egg img{
      width:126px;
      height:350px;
      border-radius:50% 50% 50% 50%;
    }
    .square img{
      width:300px;
      height:300px;
    }
    .rect img{
      width:100px;
      height:200px;
      border-radius:30%;
    }
    .shape img{
        width:200px;
      height:250px;
      border-radius:30%;
    }
    .shape1 img{
        width:200px;
      height:250px;
      border-radius:20%;
    }
    .col img{
      opacity:0.9;
      filter:grayscale(100%);
    }
    .col img:hover{
      opacity:1.0;
      filter:grayscale(0);
    }
    .text1 h3{
      font-size:25px;
      background-color:gray;
    }
    .text input{
     background-color:black;
      margin-right:60%;
     position: absolute;
     border-radius: 60px;
     padding: 10px 10px;
     color:White;
    }
    .rating {
        unicode-bidi: bidi-override;
      margin-left:80%;
       margin-top:30px;
      position:center;
    }
    .rating > span:hover:before {
       content: "\2605";
       position: absolute;
      color:orange;
     
    }
    .rating > span {
      display: inline-block;
      width: 1.6em;
    }
    